*{
  box-sizing: border-box;
}
body{
  margin: 0px;
  padding: 0px;
}
.header{
  border-bottom: 2px solid #db2927;
  font-family: tahoma;
  font-size: 13px;
  position: relative;
  padding-left: 20px;
}
.header p{
  color:black;
  display: inline;
}
#skype{
  margin-left: 20px;
}
.header a{
  color: #045198;
  text-decoration: none;
}
.top-content{
  position: absolute;
  right: 20px;
  bottom: 5px;
}

.form{
  padding-top:10px;
  margin:auto;
  width:600px;
  text-align: left;
}
h1{
  font-family: tahoma;
  font-size: 18px;
  color: #2c286d;
  margin-bottom:0px;
}
form{
  background-color: #ececec;
  border: 1px solid #bcbcbc;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
}
#heading{
  font-family: tahoma;
  font-size: 18px;
  color: #2c286d;
}

.lbl{
  width: 100px;
  text-align: right;
  float:left;
}

input[type="text"], input[type="email"], input[type="password"]{
  height: 25px;
  width: 360px;
  margin-left: 20px;
}

.form_input{
  padding-bottom: 10px;
}

input[type="radio"]{
  margin-left: 20px;
}

#dob{
  width:110px;
  font-family: tahoma;
  font-size: 13px;
  color:#6f6f6f;
  background-color: white;
}

#dob:first-child{
  margin-left: 20px;
}

#address{
  width: 360px;
  height: 135px;
  border-color: #b9b9b9;
  background-color: white;
  margin-left: 20px;
}

input[type="submit"]{
  margin-left: 20px;
  background-color: #dc2927;
  border:1px solid #a10200;
  width:130px;
  height: 32px;
  text-align: center;
  font-family: tahoma;
  font-size:14px;
  color: white;
}
